---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";

const allPosts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const allTags = [
  ...new Set(allPosts.flatMap((blogPost) => blogPost.data.tags)),
];
---

<html lang="en">
  <head>
    <BaseHead title="Blog" description="The most current essays to read" />
  </head>
  <body class="bg-white-50">
    <Header />
    <div class="grid grid-cols-12 mt-10">
      <div
        id="container"
        class="lg:flex lg:flex-wrap justify-center items-center col-span-10 col-start-2 col-end-11"
      >
        {
          allPosts.map((post) => (
            <>
              <div class="p-5 relative">
                <div class="relative lg:text-[1.563rem] xs pile">
                  <div class="wrap flex justify-center">
                    <Image
                      src={post.data.thumbnail}
                      alt={post.data.heroImage.alt}
                    />
                  </div>
                  <div class="absolute positioning text-balance bg-white-50 p-1 rounded-lg title">
                    <a
                      href={`/${post.slug}`}
                      class=" text-black-900 visited:text-black-900 hover:text-secondary-900 no-underline"
                    >
                      {post.data.title}
                    </a>
                  </div>
                </div>
              </div>
            </>
          ))
        }
      </div>
      <div class="col-span-10 col-start-2 col-end-11 lg:flex lg:flex-row mb-8">
        <div>Related tags:</div>
        <ul class="flex flex-row list-none flex-wrap">
          {
            allTags.map((tag) => {
              // Check if category is defined
              if (tag) {
                return (
                  <li class="m-3">
                    <a
                      class="tag"
                      href={`/tag/${tag}`}
                      title={`View posts tagged "${tag}"`}
                    >
                      #{tag.replace(/-/g, " ")}
                    </a>
                  </li>
                );
              }
              // Return null if category is not defined
              return null;
            })
          }
        </ul>
      </div>
      <div
        class="col-span-10 col-start-2 col-end-11 flex lg:justify-center justify-end"
      >
        <button class="lg:w-full">View All ➤</button>
      </div>
    </div>
    <Footer />

    <style>
      .pile {
        display: grid;
        grid-template-areas: "pile";
        place-items: center;
        text-align: center;
      }

      .pile > * {
        grid-area: pile;
      }

      .title {
        max-width: 55ch;
        padding: 0 1.5em;
      }

      #container > div:first-child {
        width: 100%;
      }

      @media screen and (min-width: 600px) {
        #container {
          max-width: fit-content;
          padding: 0 0;
        }
      }

      #container > div:first-child::after {
        position: absolute;
        content: "∯ New";
        background-color: #e0f2f1;
        filter: drop-shadow(#4db6ac 0.5em 0.5em 0);
        max-width: 15ch;
        padding: 0.5em;
        top: 0;
        left: 60%;
        right: 0;
      }
      .tag {
        text-transform: capitalize;
        background-color: #f8bbd0;
        text-decoration: none;
        padding: 0.5em;
        border-radius: 5px;
      }
    </style>
  </body>
</html>
