---
const { oneTitle, oneURL, twoTitle, twoURL, threeTitle, threeURL } =
  Astro.props;
---

{
  oneTitle && oneURL && twoTitle && twoURL && threeTitle && threeURL && (
    <div class="my-5 text-balance" id="continue-reading">
      <h3>Continue Reading</h3>
      <ol>
        <li>
          <a href={oneURL}>{oneTitle}</a>
        </li>
        <li>
          <a href={twoURL}>{twoTitle}</a>
        </li>
        <li>
          <a href={threeURL}>{threeTitle}</a>
        </li>
      </ol>
    </div>
  )
}
