---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";
import HeaderImage from "../components/blog/HeaderImage.astro";
/* import Infinity from "../components/blog/Infinity.astro"; */
import Support from "../components/blog/PaymentButtons.astro";
import TOC from "../components/TableOfContents.astro";
import RelatedArticles from "../components/blog/RelatedArticles.astro";
import AuthorBio from "../components/blog/AuthorBio.astro";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"] & {
    heroImage: {
      src: string;
      alt: string;
    };
    title: string;
    updatedDate: string;
    description: string;
    pubDate: string;
    updatedTime: string;
  };
  headings: {
    slug: string;
    text: string;
    depth: number;
  }[];
}

const { frontmatter, headings } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.heroImage.src}
    />
  </head>

  <body class="bg-white-50">
    <Header />
    <main class="mt-10 pb-24">
      <article>
        <header>
          <div
            class="flex lg:flex-row justify-stretch items-center flex-col bg-primary-200"
            id="article-header"
          >
            <!-- Article Header  -->

            <!-- Article Header Image  -->

            <HeaderImage
              imagePath={frontmatter.heroImage.src}
              alt={frontmatter.heroImage.alt}
            />

            <!-- Article Header Image End -->
            <div
              class="flex flex-col justify-center items-center text-balance w-full bg-primary-200 px-12 text-center slash"
              id="article-title"
            >
              <!-- Article Title  -->
              <small>
                <time datetime={frontmatter.updatedTime}>
                  {frontmatter.updatedDate}
                </time>
              </small>
              <h1>{frontmatter.title}</h1>
            </div>
            <!-- Article Title End -->
          </div>
          <!-- Article Header End -->
        </header>
        <div class="grid grid-cols-12 mt-5" id="article-body">
          <!-- Article Body  -->
          <div class="md:col-span-2 md:col-start-2" id="article-nav">
            <!-- Table of Contents -->
            <nav
              class="article-toc sticky top-0 md:block hidden"
              aria-labelledby="toc-title"
            >
              {
                headings && headings.length > 0 && (
                  <>
                    <h3 id="toc-title">Table of Contents</h3>
                    <TOC headings={headings} />
                  </>
                )
              }
            </nav>

            {
              headings && headings.length > 0 && (
                <details class="md:hidden block fixed bottom-0 left-0 w-full bg-accent-50 border-accent-300 border-4 z-10 mobile-toc">
                  <summary class="p-3">Table of Contents</summary>
                  <nav aria-label="Table of Contents" class="mx-10">
                    <TOC headings={headings} />
                  </nav>
                </details>
              )
            }
          </div>
        </div>
        <!-- End Table of Contents -->
        <div
          class="md:col-start-5 md:col-span-6 col-span-10 col-start-2"
          id="single-article"
        >
          <!-- Article Text and Meta -->
          <aside>
            <AuthorBio />
          </aside>
          <slot />
          <aside>
            <Support />
          </aside>
          <aside>
            <RelatedArticles
              oneTitle={frontmatter.relatedOne?.title ?? ""}
              oneURL={frontmatter.relatedOne?.src ?? ""}
              twoTitle={frontmatter.relatedTwo?.title ?? ""}
              twoURL={frontmatter.relatedTwo?.src ?? ""}
              threeTitle={frontmatter.relatedThree?.title ?? ""}
              threeURL={frontmatter.relatedThree?.src ?? ""}
            />
          </aside>
          <aside>
            <div id="article-footer">
              <!-- Tags and Categories -->
              <ul class="list-none flex justify-start gap-x-4">
                <li class="category">
                  Category: {
                    frontmatter.categories ? (
                      <a
                        class="hover:text-black-900 underline"
                        href={`/category/${frontmatter.categories}`}
                        title={`View posts in "${frontmatter.categories}"`}
                      >
                        {frontmatter.categories.replace(/-/g, " ")}
                      </a>
                    ) : (
                      "No category found"
                    )
                  }
                </li>
                <li class="tags flex flex-row">
                  <span>Explore:</span>
                  <ul class="list-none flex flex-row flex-wrap">
                    {
                      Array.isArray(frontmatter.tags) ? (
                        frontmatter.tags.map((tag) => (
                          <li class="tag">
                            <a
                              class="hover:text-black-900 no-underline"
                              href={`/tag/${tag}`}
                              title={`View posts tagged "${tag}"`}
                            >
                              #{tag.replace(/-/g, " ")}
                            </a>
                          </li>
                        ))
                      ) : (
                        <li class="tag">No tags found.</li>
                      )
                    }
                  </ul>
                </li>
              </ul>
            </div>
            <!-- End Tags and Categories -->
          </aside>
        </div>
        <!-- Article Text and Meta End -->
      </article>
      <!-- Article Body End -->
    </main>
    <Footer />
    <style>
      #single-article {
        max-width: 65ch;
      }

      .mobile-toc {
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      details summary {
        cursor: pointer;
      }

      details:not([open]):hover,
      details:not([open]):focus {
        background: #4db6ac;
      }

      .category,
      .tags {
        text-transform: capitalize;
      }
      .tag {
        background-color: #f8bbd0;
        text-decoration: none;
        padding: 0.5em;
        border-radius: 5px;
        margin: 0.5em;
      }
    </style>
  </body>
</html>
