---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";
import HeaderImage from "../components/blog/HeaderImage.astro";
/* import Infinity from "../components/blog/Infinity.astro"; */
import Support from "../components/blog/PaymentButtons.astro";
import TOC from "../components/TableOfContents.astro";
import { Image } from "astro:assets";
import Avatar from "/src/assets/avatar-math-book-glitch.png";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"] & {
    heroImage: {
      src: string;
      alt: string;
      title: string;
      description: string;
      updatedDate: string;
    };
  };
  headings: {
    slug: string;
    text: string;
    depth: number;
  }[];
}

const { frontmatter, headings } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.heroImage.src}
    />
  </head>

  <body class="bg-white-50">
    <Header />
    <main class="mt-10">
      <article class="pb-24">
        <div
          class="flex lg:flex-row justify-stretch items-center flex-col bg-primary-200"
        >
          <div class="wrap">
            <HeaderImage
              imagePath={frontmatter.heroImage.src}
              alt={frontmatter.heroImage.alt}
            />
          </div>
          <div
            class="flex flex-col justify-center items-center text-balance w-full bg-primary-200 px-12 text-center slash"
          >
            <small><time>{frontmatter.updatedDate}</time></small>
            <h1>{frontmatter.title}</h1>
          </div>
        </div>
        <div class="grid grid-cols-12 mt-5">
          <div class="md:col-span-2 md:col-start-2">
            <nav class="article-toc sticky top-0 md:block hidden">
              {
                headings && headings.length > 0 && (
                  <>
                    <h3>Table of Contents</h3>
                    <TOC headings={headings} />
                  </>
                )
              }
            </nav>
            <details
              class="md:hidden block fixed bottom-0 left-0 w-full bg-accent-50 border-accent-300 border-4 z-10 mobile-toc"
            >
              <summary class="p-3">Table of Contents</summary>
              <nav class="article-toc mx-10">
                {
                  headings && headings.length > 0 && (
                    <>
                      <TOC headings={headings} />
                    </>
                  )
                }
              </nav>
            </details>
          </div>
          <div
            class="md:col-start-5 md:col-span-6 col-span-10 col-start-2"
            id="single-article"
          >
            <slot />

            <ul class="list-none flex justify-start gap-x-4">
              <li class="category">
                Category: {
                  frontmatter.categories ? (
                    <a
                      class="hover:text-black-900 underline"
                      href={`/category/${frontmatter.categories}`}
                      title={`View posts in "${frontmatter.categories}"`}
                    >
                      {frontmatter.categories.replace(/-/g, " ")}
                    </a>
                  ) : (
                    "No category found"
                  )
                }
              </li>
              <li class="tags flex flex-row">
                <span>Explore:</span>
                <ul class="list-none flex flex-row flex-wrap">
                  {
                    Array.isArray(frontmatter.tags) ? (
                      frontmatter.tags.map((tag) => (
                        <li class="tag">
                          <a
                            class="hover:text-black-900 no-underline"
                            href={`/tag/${tag}`}
                            title={`View posts tagged "${tag}"`}
                          >
                            #{tag.replace(/-/g, " ")}
                          </a>
                        </li>
                      ))
                    ) : (
                      <li class="tag">No tags found.</li>
                    )
                  }
                </ul>
              </li>
            </ul>
            <div class="flex flex-row items-center">
              <div>
                <Image
                  src={Avatar}
                  alt="Susan Silver holding a book with an orange and pink gradient background and a glitch effect"
                  height={150}
                  width={150}
                  class="rounded-full"
                />
                <p>
                  by <a href="/authors/susan-silver/">Suzza Silver</a>
                </p>
                <p class="italic xs">The writer with the mathematical muse.</p>
              </div>
              <div>
                <p class="font-bold">Follow</p>
                <p>
                  <ul>
                    <li class="flex justify-start items-start">
                      <Icon name="mdi:mastodon" class="sma text-slate-500" />
                      <a
                        href="https://mathstodon.xyz/@suzza"
                        class="visited:text-primary-900 hover:text-secondary-900 no-underline"
                        >Mastodon</a
                      >
                    </li>
                    <li class="flex justify-start items-start">
                      <Icon
                        name="mdi:account-circle"
                        class="sma text-slate-500"
                      />
                      <a
                        href="https://susansilver.net"
                        class="visited:text-primary-900 hover:text-secondary-900 no-underline"
                        >Suzza</a
                      >
                    </li>
                  </ul>
                </p>
              </div>
            </div>
            <Support />
            <!--   <Infinity /> -->
          </div>
        </div>
      </article>
      <Footer />
      <style>
        #single-article {
          max-width: 65ch;
        }

        .wrap {
          position: relative;
        }

        .wrap:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(100, 181, 246, 0.75);
        }
        /*  .wrap img {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        } */

        .slash::before {
          content: "";
          position: absolute;
          background: black;
          top: 15%;
          left: 36%;
          bottom: 42%;
          /*  border-left: 3px solid #212121; */
          -webkit-transform: skew(-20deg);
          -moz-transform: skew(-20deg);
          -ms-transform: skew(-20deg);
          transform: skew(-20deg);
          border-left: 3px solid #212121;
          /*   border-image-slice: 1;
          border-width: 5px;
          border-image-source: linear-gradient(#0d47a1, #f48fb1);
          border-bottom: 0;
          border-right: 0;
          border-top: 0; */
        }

        @media screen and (max-width: 1080px) {
          .slash::before {
            display: none;
          }
        }

        @media screen and (max-width: 900px) {
          #single-article {
            max-width: 40ch;
          }
        }
        .mobile-toc {
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }

        details summary {
          cursor: pointer;
        }

        details:not([open]):hover,
        details:not([open]):focus {
          background: #4db6ac;
        }

        .category,
        .tags {
          text-transform: capitalize;
        }
        .tag {
          background-color: #f8bbd0;
          text-decoration: none;
          padding: 0.5em;
          border-radius: 5px;
          margin: 0.5em;
        }
      </style>
    </main>
  </body>
</html>
