---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import HeaderImage from "../components/blog/HeaderImage.astro";
/* import Infinity from "../components/blog/Infinity.astro"; */
import Support from "../components/blog/PaymentButtons.astro";
import TOC from "../components/TableOfContents.astro";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"] & {
    heroImage: {
      src: string;
      alt: string;
      title: string;
      description: string;
      updatedDate: string;
    };
  };
  headings: {
    slug: string;
    text: string;
    depth: number;
  }[];
}

const { frontmatter, headings } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.heroImage.src}
    />
  </head>

  <body class="bg-white-50">
    <Header />
    <main class="mt-10">
      <article>
        <div
          class="flex lg:flex-row justify-stretch items-center flex-col bg-primary-200"
        >
          <div class="wrap">
            <HeaderImage
              imagePath={frontmatter.heroImage.src}
              alt={frontmatter.heroImage.alt}
            />
          </div>
          <div
            class="flex flex-col justify-center items-center text-balance w-full bg-primary-200 px-12 text-center slash"
          >
            <small><time>{frontmatter.updatedDate}</time></small>
            <h1>{frontmatter.title}</h1>
          </div>
        </div>
        <div class="grid grid-cols-12">
          <div class="md:col-span-2 md:col-start-2">
            <nav class="article-toc sticky top-0 md:block hidden">
              {
                headings && headings.length > 0 && (
                  <>
                    <h3>Table of Contents</h3>
                    <TOC headings={headings} />
                  </>
                )
              }
            </nav>
            <details
              class="md:hidden block fixed bottom-0 left-0 w-full bg-accent-50 border-accent-300 border-4 z-10 mobile-toc"
            >
              <summary class="p-3">Table of Contents</summary>
              <nav class="article-toc mx-10">
                {
                  headings && headings.length > 0 && (
                    <>
                      <TOC headings={headings} />
                    </>
                  )
                }
              </nav>
            </details>
          </div>
          <div
            class="md:col-start-5 md:col-span-6 col-span-10 col-start-2"
            id="single-article"
          >
            <slot />
            <Support />
            <!--   <Infinity /> -->
          </div>
          <div class="md:col-span-1 md:col-start-11 col-span-10 col-start-2">
            Text
          </div>
        </div>
      </article>
      <style>
        #single-article {
          max-width: 75ch;
        }

        .wrap {
          position: relative;
        }

        .wrap:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(100, 181, 246, 0.75);
        }
        /*  .wrap img {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        } */

        .slash::before {
          content: "";
          position: absolute;
          background: black;
          top: 15%;
          left: 36%;
          bottom: 42%;
          /*  border-left: 3px solid #212121; */
          -webkit-transform: skew(-20deg);
          -moz-transform: skew(-20deg);
          -ms-transform: skew(-20deg);
          transform: skew(-20deg);
          border-left: 3px solid #212121;
          /*   border-image-slice: 1;
          border-width: 5px;
          border-image-source: linear-gradient(#0d47a1, #f48fb1);
          border-bottom: 0;
          border-right: 0;
          border-top: 0; */
        }

        @media screen and (max-width: 1080px) {
          .slash::before {
            display: none;
          }
        }

        .mobile-toc {
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }

        details summary {
          cursor: pointer;
        }

        details:not([open]):hover,
        details:not([open]):focus {
          background: #4db6ac;
        }
      </style>
    </main>
  </body>
</html>
