---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Infinity from "../components/blog/Infinity.astro";
import Support from "../components/blog/PaymentButtons.astro";
import TOC from "../components/TableOfContents.astro";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"] & {
    heroImage: {
      src: string;
    };
  };
  headings: {
    slug: string;
    text: string;
    depth: number;
  }[];
}

const { frontmatter, headings } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.heroImage.src}
    />
  </head>

  <body class="bg-white-50">
    <Header />
    <main class="mt-10">
      <article>
        <div
          class="flex flex-col justify-center items-center py-32 px-5 bg-primary-100 text-balance"
        >
          <small>Updated on {frontmatter.updatedDate}</small>
          <h1>{frontmatter.title}</h1>
        </div>
        <div class="grid grid-cols-12">
          <div class="md:col-span-2 md:col-start-2 md:block hidden">
            <nav class="article-toc sticky top-0">
              {
                headings && headings.length > 0 && (
                  <>
                    <h3>Table of Contents</h3>
                    <TOC headings={headings} />
                  </>
                )
              }
            </nav>
          </div>
          <div
            class="md:col-start-5 md:col-span-7 col-span-10 col-start-2"
            id="single-article"
          >
            <slot />
            <Support />
            <Infinity />
          </div>
        </div>
      </article>

      <style>
        #single-article {
          max-width: 75ch;
        }

        .wrap {
          position: relative;
        }

        .wrap:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(100, 181, 246, 0.75);
        }
        .wrap img {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }

        before-title::before {
          border-left: 5px solid black;
        }
      </style>
    </main>
  </body>
</html>
